@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container input {
  margin: 5% 0 10% 0;
  height: 20px;
  border-radius: 12.5px;
  border: none;
  padding: 2.5px 15px;
  box-shadow: 0.5px 0.5px 10px 0px #000000;
}

#container input:focus {outline: none;}
input:focus::placeholder {opacity: 0;}

#card {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 600px;
  max-height: 800px;
  height: 42.5rem;
  border-radius: 5.5px;
  box-shadow: 0.5px 0.5px 10px 0px #000000;
}

#top_card {
  color: #fff;
  height: 50%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: fill;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#top_card h1 {
  letter-spacing: 2px;
}

#status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#temp {
  font-size: 40px;
  font-weight: bold;
}

#bottom_card {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

#bottom_card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom_card div img {
  width: 35px;
  height: auto;
}
